$lvl2: #4b0082;

.spells-container {
  width: 90%;
  margin: 8px;
}

.Spells-Level2-title {
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  font-variant: small-caps;
  font-weight: bold;
  background-color: inherit;
  color: $lvl2;
  font-size: 16pt;
  margin-bottom: -5px;
}

.spells-content {
  font-size: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.level2 {
  width: 30%;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.397),
      rgba(255, 255, 255, 0.397)
    ),
    url("../Images/Paper.jpg");
  margin: 5px 5px;
  border: 3px solid $lvl2;
}
