$cantrip: #b10000;
$lvl1: #556b2f;

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.377);
  z-index: 1;

  .border {
    background: url("../Images/Paper.jpg");
    width: 30.2vw;
    height: 80.2vh;
    padding: 9px;
    overflow: hidden;
    border-radius: 50px;

    &.lvl0 {
      border: 8px solid $cantrip;
    }
    &.lvl1 {
      border: 8px solid $lvl1;
    }
  }

  .modal {
    width: 30vw;
    height: 80vh;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &-title {
      text-align: center;
      font-size: 25px;
      padding-bottom: 1rem;
    }
    &-chars {
      /*border-bottom: 1px solid black;*/
      padding-bottom: 2rem;
    }

    &-content {
      /*border-bottom: 1px solid black;*/
      padding: 2rem 0;
    }
  }
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

li {
  margin: 2px;
}

.desctitle {
  text-align: center;
  margin: 5px auto;
}

.separator {
  margin-bottom: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0px 5px 20vw;
  transform: rotate(180deg);

  &.lvl0 {
    border-color: transparent transparent $cantrip transparent;
  }

  &.lvl1 {
    border-color: transparent transparent $lvl1 transparent;
  }
}

.savings {
  padding-bottom: 20px;
}

.damageHigherLevels {
  margin-left: 20px;
}

.damage {
  padding-bottom: 10px;
}
