$cantrip: #b10000;
$lvl1: #556b2f;

.spell-name {
  text-align: center;
}

.spell {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.spell-desc-container {
  display: grid;
  height: 110px;
}

.spell-desc {
  margin: 5px;
}

.spell-button {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lora, "Calisto MT", "Bookman Old Style", Bookman,
    "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia,
    serif;

  &.lvl0 {
    border: 2px solid $cantrip;
  }
  &.lvl1 {
    border: 2px solid $lvl1;
  }
}
