*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'modesto-bold';
  src: url('./Styles/ModestoCondensedBold.ttf');
}
@font-face {
  font-family: 'dungeon';
  src: url('./Styles/Dungeon.TTF');
}

@font-face {
  font-family: 'OldEnglish';
  src: url('./Styles/OldeEnglish.ttf');
}

.App {
  color: black;
  font-family: 'dungeon';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./Images/Paper.jpg');
  background-size: cover;
}

.main-title {
  font-family: 'OldEnglish';
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
}
