*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "modesto-bold";
  src: url("./Styles/ModestoCondensedBold.ttf");
}

.App {
  color: black;
  /*background-color: white; /*rgb(22, 29, 44)*/
  font-family: "modesto-bold";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./Images/Paper.jpg");
  background-size: cover;
}

.main-title {
  text-align: center;
  font-size: 30px;
  margin: 20px auto;
}
